.kotak1, .kotak2, .kotak3{
    width: 150px;
    height: 150px;
}

.kotak1 {
    background-color: red;
   padding: 100px 50px 20px 10px;
}

.kotak2 {
    background-color:green;
    margin: 100px 50px 20px 10px;
}

.kotak3 {
    background-color: blue;
    border: ;
}