.kotak1, .kotak2, .kotak3 {
  width: 150px;
  height: 150px;
}

.kotak1 {
  background-color: palevioletred;
  padding: 100px 50px 20px 10px;
}

.kotak2{
  background-color: lightgreen;
  margin: 100px 50px 20px 10px;
}

.kotak3 {
  background-color: lightblue;
  border: 2px solid red;
}