/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: gainsboro;
}

ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

a {
  color: #000;
  text-decoration: none;
}





/* Main Content Style */
main {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  margin: 0 auto;
  gap: 50px;
}

article {
  width: 60%;
  background-color: lightgoldenrodyellow;
}

article > img {
  margin: 30px 20px;
}

article > div {
  margin: 30px 20px;
}

article > div > p {
  text-indent: 30px;
}

aside {
  width: 40%;
  background-color: papayawhip;
}

aside > div {
  margin: 30px 20px;
}

aside > div > a {
  display: block;
  text-decoration: underline;
}

aside > a {
  background-color: aliceblue;
  border: 1px solid;
  padding: 10px 15px;
  margin: 0 20px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}



/* Footer Content Style */
footer {
  background-color: darkslategrey;
  padding: 10px 0;
}

footer > p {
  text-align: center;
  color: aliceblue;
}