header {
  width: 100%;
  height: 50px;
  background-color: orange;
  border: 1px solid;
}

nav {
  width: 100%;
  height: 50px;
  background-color: lightblue;
  border: 1px solid;
}

main {
  display: flex;
}

article {
  width: 60%;
  height: 500px;
  background-color: lightsalmon;
}

aside {
  width: 40%;
  height: 500px;
  background-color: lightseagreen;
}

footer {
  width: 100%;
  height: 50px;
  background-color: darkslategray;
  border: 1px solid;
}